---
import { themeConfig } from '~/config'
import { getPathFromCategory } from '~/utils'

interface Props {
  category: string
}

const { category } = Astro.props
// 从 Astro.params 获取当前语言
const { lang } = Astro.params as { lang: string }

function getCategoryUrl(category: string) {
  return `/${lang}/categories/${getPathFromCategory(category, themeConfig.site.categoryMap)}`
}
---

<a href={getCategoryUrl(category)}>
  # {category}
</a>
