---
import { themeConfig } from '~/config'
import { LANGUAGES } from '~/i18n'
import SiteFooter from '~/components/SiteFooter.astro'
import SiteNavigation from '~/components/SiteNavigation.astro'
import SiteTitle from '~/components/SiteTitle.astro'
import SiteSeo from '~/components/SiteSeo.astro'
import LaTeX from '~/components/LaTeX.astro'
import Analytics from '~/components/Analytics.astro'
import '~/styles/global.css'

type SupportedLang = keyof typeof LANGUAGES

function isSupportedLang(lang: string): lang is SupportedLang {
  return lang in LANGUAGES
}

const pathLang = Astro.url.pathname.split('/')[1]
const currentLang = isSupportedLang(pathLang) ? pathLang : 'en'
const lang = `${currentLang}`
---

<html lang={lang}>
  <head>
    <slot name="seo"> <SiteSeo /> </slot>
    <LaTeX />
    <Analytics />
    <script is:inline>
      const darkMode = window.matchMedia('(prefers-color-scheme: dark)')
      darkMode.addEventListener('change', (e) => document.documentElement.classList.toggle('dark', e.matches))
      document.documentElement.classList.toggle('dark', darkMode.matches)
    </script>
  </head>
</html>

<body
  class="h-100vh max-w-1200px min-w-380px mx-a"
  p="7.5 lg:(y-0 x-20)"
  lg="grid gap-x-6 cols-[3fr_1fr] rows-[1fr_9rem]"
>
  <header class="flex flex-col gap-2.5" m="7.5 lg:(x-0 t-20 b-4)" lg="row-1-2 col-2-3 justify-between items-start">
    <SiteTitle />
    <SiteNavigation />
  </header>

  <main class="overflow-y-scroll scrollbar-hide outline-none" lg="row-1-3 col-1-2 py-20 ">
    <slot />
  </main>

  <footer class="py-7.5" lg="row-2-3 col-2-3">
    <SiteFooter />
  </footer>
</body>
